<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgriCure</title>
  <link rel="stylesheet" href="../static/css/pico.jade.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
</head>
<body>
  <header class="container-fluid">
    <div class="app-logo">
      <h1>AgriCure</h1>
    </div>
    <a href='autentificare.html'>login</a>

    <!--  Control Elements  -->
    <div class="controls">
      <div class="lang-select">
        <fieldset>
          <input type="radio" id="english" name="second-language" checked />
          <label for="english">En</label>
          <input type="radio" id="romanian" name="second-language" />
          <label for="romanian">Ro</label>
          <input type="radio" id="russian" name="second-language" />
          <label for="russian">Ru</label>
        </fieldset>
      </div>
      
      <div class="dark-mode-toggle">
        <label>
          <input id="dark-mode-toggle" name="theme-toggle" type="checkbox" role="switch" aria-label="Toggle dark mode"/>
          Dark Mode
        </label>
      </div>
    </div>
  </header>

  <div class="main-container">

    <!--  Abstract  -->
    <main class="container">
      <div class="element-container">
        <section class="abstract">
          <h2 data-mlr-text>What is AgriCure?</h2>
          <span data-mlr-text>AgriCure is a simple and powerful tool that helps you identify plant diseases by analyzing a photo of your plants. Just snap a picture of the affected plant, and the app will diagnose the issue, suggest treatments, and offer care tips to keep your garden healthy. Whether you're a home gardener or a professional, it provides quick and reliable solutions to protect your plants and improve their overall health.</span>
        </section>
      </div>

      <!--   Tiles   -->
      <div class="element-container">
        <h2 data-mlr-text>You might have encountered:</h2>
        <section class="tiles-container">
          <div class="tile">
            <a href="https://www.britannica.com/science/powdery-mildew" target="_blank"><h4 data-mlr-text>Powdery mildew</h4></a>
            <img src="../static/images/PowderyMildew.jpg" alt="Powdery mildew" class="tile-img">
          </div>

          <div class="tile">
            <a href="https://extension.umn.edu/disease-management/organic-management-black-rot" target="_blank"><h4 data-mlr-text>Black Rot</h4></a>
            <img src="../static/images/BlackRot.png" alt="Black Rot" class="tile-img">
          </div>

          <div class="tile">
            <a href="https://www.rhs.org.uk/disease/downy-mildews" target="_blank"><h4 data-mlr-text>Downy Mildew</h4></a>
            <img src="../static/images/DowneyMildew.png" alt="Downy Mildew" class="tile-img">
          </div>
        </section>

        <section class="tiles-container">
          <div class="tile">
            <a href="https://en.wikipedia.org/wiki/Rust_(fungus)" target="_blank"><h4 data-mlr-text>Rust</h4></a>
            <img src="../static/images/Rust.png" alt="Rust" class="tile-img">
          </div>

          <div class="tile">
            <a href="https://www.masterclass.com/articles/white-mold-on-plants" target="_blank"><h4 data-mlr-text>White Mold</h4></a>
            <img src="../static/images/WhiteMold.png" alt="White Mold" class="tile-img">
          </div>

          <div class="tile">
            <a href="https://www.britannica.com/science/blight" target="_blank"><h4 data-mlr-text>Blight</h4></a>
            <img src="../static/images/Blight.png" alt="Blight" class="tile-img">
          </div>
        </section>
      </div>

      <!--   Statistics   -->
      <div class="element-container">
        <h2>Statistics</h2>
        <p>
          Below you will find useful up-to-date statistics on worldwide spread of plant diseases.
        </p>
      </div>

      <!--   World Map   -->
      <div class="element-container">
        <section>
          <h2>Plant disease frequency per country</h2>
          <div class="map-wrapper">
            <div id="map-tooltip">
              <p>Drag to rotate</p>
            </div>
            <div id="chartdiv"></div>
            <div class="map-legend">
              <h4>Legend</h4>
              <p>Showing proportion of diseased crops to surface area</p>
              <div class="map-legend-stats">
                <p>0%</p>
                <div class="gradient-bar"></div>
                <p>100%</p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!--   FAQ   -->
      <div class="element-container">
        <section>
          <h2 data-mlr-text>Frequently asked questions</h2>
          <details>
            <summary data-mlr-text>How accurate is the app in identifying plant diseases?</summary>
            <p data-mlr-text>The app uses advanced machine learning algorithms and image processing techniques to analyze plant symptoms and provide highly accurate diagnoses. While it performs well with common diseases, it's continually updated to improve accuracy for a wide range of plant species and conditions.</p>
          </details>
          
          <hr />
          <details>
            <summary data-mlr-text>Can I use the app offline?</summary>
            <p data-mlr-text>The app requires an internet connection to analyze images and access the latest plant disease data. However, you can store previously diagnosed plants and treatments in your library for offline access.</p>
          </details>
          
          <hr />
          <details>
            <summary data-mlr-text>Does the app provide organic treatment options?</summary>
            <p data-mlr-text>Yes! The app offers a variety of treatment recommendations, including organic and environmentally friendly solutions, so you can choose the option that best suits your gardening preferences.</p>
          </details>
          
          <hr />
        </section>
      </div>

      <!--   Image Upload   -->
      <div class="element-container">
        <div class="form-submit-button">
          <h2 data-mlr-text>Upload an image!</h2>
          <form id="image-form" action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
            <label for="plant-type" data-mlr-text>Select Plant Type:</label>
            <select id="plant-type" name="plant-type">
                <option value="" disabled selected data-mlr-text>Select a plant type</option>
                <option data-mlr-text value="Grapes">Grapes</option>
                <option data-mlr-text value="Apple">Apple</option>
                <option data-mlr-text value="Cucumber">Cucumber</option>
                <option data-mlr-text value="Tomato">Tomato</option>    
            </select>
            
            <label for="image-upload" data-mlr-text>Choose an image:</label>
            <input type="file" id="image-upload" name="image-upload" accept="image/*" data-mlr-text>
            <button data-mlr-text type="submit">Upload</button>
          </form>        
        </div>
      </div>

      <!--   Output Display   -->
      <div class="hidden-until-submit">
        <section>
          <h2 data-mlr-text>Submitted Image</h2>
          <img id="submitted-image" src="" alt="Your submitted image will appear here.">
        </section>
      
        <section>
          <h2 data-mlr-text>Result</h2>
          <div id="result"></div>
        </section>
      </div>

      <!--   Footer Navbar   -->
      <div class="navbar">
        <nav>
          <ul>
            <li><a href="https://utm.md/en/" target="_blank">UTM</a></li>
            <li><a href="https://github.com/augustin-ploteanu/AgriCure" target="_blank">GitHub</a></li>
          </ul>
        </nav>
      </div>
    </main>
  </div>

  <script src="../static/js/script.js"></script>
  <script src="../static/js/language_picker.js"></script>
  <script src="https://cdn.amcharts.com/lib/editor/map/5/viewer.js"></script>
  <script src="../static/js/world_map.js"></script>
  <script src="../static/js/authentification.js"></script>
</body>
</html>
